@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  color: #FFF;
  background-color: #121519;
  font-family: 'Montserrat', 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 1rem 0;
}
.app {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: 20% 1fr;
  height: 100vh;
}
.header, .footer {
  font-size: 0.75rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  padding: 0 2rem;
  border-bottom: 1px solid white;
  background-image: linear-gradient(
    -225deg,
    #5271c4 0%,
    #b19fff 48%,
    #eca1fe 100%);
}
.header__left, .header__right {
  display: flex;
  align-items: center;
}
.main {
  grid-column: 1 / -1;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  perspective: 1px;
  scroll-snap-type: block proximity;
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-y: repeat(100%);
  background-color:white;
}
@media screen and (min-width: 1024px) {
  .main {
    grid-column: 2 / -1;
  }
}
.footer {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  padding: 0 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1); 
  background-color: white;
}
.footer p {
  margin-right: 1rem;
}
.footer a {
  color: #5271c4;
}
.footer a:hover, .footer a:focus {
  text-decoration: underline;
}
.footer__more {
  display: none;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .footer__more {
    display: block;
  }
}
.nav {
  display: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
}
.nav__item:not(:last-child) {
  border-bottom: 1px solid white;
}
.nav__link {
  display: block;
  color: gray;
  font-weight: 200;
}
.nav__link:hover, .nav__link:focus {
  background-color: rgba(255, 255, 255, 0.035);
}
@media screen and (min-width: 1024px) {
  .nav {
    display: block;
    grid-column: 1 / 2;
  }
}
.section {
  min-height: 500px;
  min-height: calc(100vh - 4rem - 4rem);
  padding-top: 300px;
  margin-bottom: 250px;
  position: relative;
  transform-style: preserve-3d;
  scroll-snap-align: start;
}
.section__header {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 500px;
  padding: 2rem;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.section__header::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.section__title {
  font-size: 3.5rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  line-height: 1;
}
.section__subtitle {
  font-size: 1.5rem;
}
.section__controls {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.section__content {
  position: relative;
  z-index: 1;
  padding: 0 1rem;
}
@media screen and (min-width: 1024px) {
  .section {
    margin-bottom: 750px;
  }
  .section__header {
    transform: translateZ(-1px) scale(1.9);
  }
  .section__content {
    padding: 0;
    transform: translateZ(0);
  }
}
.boxgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2rem 0.5rem;
}
.boxgrid__item {
  display: flex;
}
.boxgrid__item--wide {
  grid-column: span 2;
}
@media screen and (min-width: 1280px) {
  .boxgrid__item--push {
    grid-column: span 2;
    padding-left: 50%;
  }
}
.box {
  display: flex;
  flex: 1 0 0;
  position: relative;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: #FFF;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1);
  transition: all 0.25s ease;
  filter: brightness(100%);
}
.box:hover, .box:focus {
  transform: scale(1.07);
  filter: brightness(110%);
  z-index: 10;
}
.box--weather {
  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
}
.box--cost {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}
.box--locations {
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}
.box--time {
  background: linear-gradient(90deg, #ffc5ca, #cfecd0);
}
.box--image, .box--video {
  padding: 0;
}
.box--video::before, .box--video::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.box--video::before {
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
}
.box--video::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #121519;
  margin-left: 2px;
}
.box__img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.scrollctrl {
  display: none;
  justify-content: center;
  width: 50vw;
  height: 50vw;
  padding: 0;
  position: fixed;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  left: 50%;
  margin-left: -25%;
}
.scrollctrl:hover, .scrollctrl:focus {
  background-color: rgba(255, 255, 255, 0.035);
}
.scrollctrl--prev {
  top: 0;
  padding-top: 44%;
  align-items: flex-end;
  transform: translateY(-42vw);
}
.scrollctrl--next {
  bottom: 0;
  padding-bottom: 44%;
  transform: translateY(42vw);
}
@media screen and (min-width: 1024px) {
  .scrollctrl {
    display: flex;
  }
}
.text--large {
  font-size: 2rem;
  font-weight: 200;
}
.text--large2{
  font-size: 1.4rem;
  font-weight: 200;
}
.arrow {
  display: inline-block;
  padding: 3px;
  border-style: solid;
  border-width: 0 2px 2px 0;
}
.arrow--large {
  padding: 8px;
  border-width: 0 1px 1px 0;
}
.arrow--right {
  transform: rotate(-45deg);
  z-index: 99999;
}
.arrow--left {
  transform: rotate(135deg);
  z-index: 99999;
}
.arrow--up {
  transform: rotate(-135deg);
}
.arrow--down {
  transform: rotate(45deg);
}
.media {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.media__img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border-radius: 0.25rem;
  object-position: center center;
  object-fit: cover;
}
.media__content {
  margin: 0;
}
.user {
  margin-left: auto;
  text-align: center;
  padding-top: 2rem;
}
.user__name {
  display: block;
  font-size: 1.5rem;
  font-weight: 200;
}
.user__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
}
.btn {
  display: flex;
  flex: 0 0 50px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #FFF;
  margin: 0 0.5rem;
}
button:focus {
  outline: 0;
  border-color: #66AEE5;
  box-shadow: 0 0 0 1px #66AEE5;
}
#checklist {
  --disabled: #6f6cde;
  --width: 32vh;
  --height: 50vh;
  --border-radius: 3px;
  background-color: #ffffff;
  background-color:rgba(225, 225, 225, 0.2);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  border: 1px solid white;
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px 45px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  font-size: 30px;
  font-weight: lighter;
  font-family: 'Montserrat', 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#checklist label {
  color: white;
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
}
#checklist label::before, #checklist label::after {
  content: "";
  position: absolute;
}
#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: white;
  border-radius: 2px;
  transition: --background 0.3s ease;
}
#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
#checklist input[type="checkbox"]::before, #checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: #6f6cde;
  border-radius: 2px;
}
#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}
#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}
@keyframes move {
  50% {
      padding-left: 8px;
      padding-right: 0px;
 }
  100% {
      padding-right: 4px;
 }
}
@keyframes slice {
  60% {
      width: 100%;
      left: 4px;
 }
  100% {
      width: 100%;
      left: -2px;
      padding-left: 0;
 }
}
@keyframes check-01 {
  0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
 }
  50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
 }
  51% {
      width: 0px;
      top: 8px;
      transform: rotate(45deg);
 }
  100% {
      width: 5px;
      top: 8px;
      transform: rotate(45deg);
 }
}
@keyframes check-02 {
  0% {
      width: 4px;
      top: auto;
      transform: rotate(0);
 }
  50% {
      width: 0px;
      top: auto;
      transform: rotate(0);
 }
  51% {
      width: 0px;
      top: 8px;
      transform: rotate(-45deg);
 }
  100% {
      width: 10px;
      top: 8px;
      transform: rotate(-45deg);
 }
}
@keyframes firework {
  0% {
      opacity: 1;
      box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
 }
  30% {
      opacity: 1;
 }
  100% {
      opacity: 0;
      box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
 }
}
.button2 {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  width: max-content;
  height: auto;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  margin-top: 36%;
}
.button2 span {
  line-height: 70px;
  font-size: 32px;
  font-weight: semibold;
  color: #6f6cde;
}
.button2:hover {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.button2:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}
.title {
  color: white;
  font-size: 80px;
  font-weight: lighter;
  position: absolute; left: 50%; transform: translateX(-50%); 

}
.subtitle{
  position: absolute; left: 50%; transform: translateX(-50%); 
  top: 20%;
  color: '#ffffff';
  font-size: 25px;
}